@inherits LayoutComponentBase

<div class="page">
    

    <div class="main">
        <div class="top-row px-4 change-bg">
            <a href="/add" target="_blank">Добавить</a>
                        <a class="a-reverse" href="/" target="_blank">Домашняя страница</a>

        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
